In [14]:
LinkData="https://github.com/DACSS-PreProcessing/DFops_exporting/raw/refs/heads/main/originalData/Boston_Incidents.csv"

import pandas as pd
boston=pd.read_csv(LinkData)

/var/folders/2n/bkfhfqq16r78g3hf7pdj56y40000gn/T/ipykernel_73802/2401877782.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  boston=pd.read_csv(LinkData)

In [15]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213603 entries, 0 to 213602
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   OBJECTID             213603 non-null  int64
 1   Incident Number      213603 non-null  object
 2   Crime                213603 non-null  object
 3   Offense Code         213603 non-null  object
 4   Offense Description  213603 non-null  object
 5   Block Address        182883 non-null  object
 6   City                 182892 non-null  object
 7   Zip Code             182892 non-null  object
 8   BPD District         211775 non-null  object
 9   Premise Description  182892 non-null  object
 10  Weapon Description   13332 non-null   object
 11  Crime Part           208970 non-null  object
 12  Crime Category       32631 non-null   object
 13  Report Date          213523 non-null  object
 14  From Date            212080 non-null  object
 15  To Date              72081 non-null   object
 16  Hour of Day          213599 non-null  float64
 17  Day of Week          213599 non-null  float64
 18  Year                 213599 non-null  float64
 19  Quarter              213599 non-null  float64
 20  Month                213599 non-null  float64
 21  Neighborhood         209945 non-null  object
dtypes: float64(5), int64(1), object(16)
memory usage: 35.9+ MB

In [16]:
boston.columns=boston.columns.str.replace(r'\s','_',regex=True)
boston['Incident_Number']=boston.Incident_Number.astype(str)
boston["Report_Date"]=pd.to_datetime(boston.Report_Date,format='%m/%d/%Y %H:%M:%S %p')
boston.Quarter[~boston.Quarter.isnull()].head()
boston['Quarter']=boston.Quarter.astype('Int32').astype(str)

from pandas.api.types import CategoricalDtype

cat_type = CategoricalDtype(categories=['1','2','3','4'], ordered=True)

boston["Quarter"]= boston.Quarter.astype(cat_type)

In [17]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213603 entries, 0 to 213602
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   OBJECTID             213603 non-null  int64
 1   Incident_Number      213603 non-null  object
 2   Crime                213603 non-null  object
 3   Offense_Code         213603 non-null  object
 4   Offense_Description  213603 non-null  object
 5   Block_Address        182883 non-null  object
 6   City                 182892 non-null  object
 7   Zip_Code             182892 non-null  object
 8   BPD_District         211775 non-null  object
 9   Premise_Description  182892 non-null  object
 10  Weapon_Description   13332 non-null   object
 11  Crime_Part           208970 non-null  object
 12  Crime_Category       32631 non-null   object
 13  Report_Date          213523 non-null  datetime64[ns]
 14  From_Date            212080 non-null  object
 15  To_Date              72081 non-null   object
 16  Hour_of_Day          213599 non-null  float64
 17  Day_of_Week          213599 non-null  float64
 18  Year                 213599 non-null  float64
 19  Quarter              213599 non-null  category
 20  Month                213599 non-null  float64
 21  Neighborhood         209945 non-null  object
dtypes: category(1), datetime64[ns](1), float64(4), int64(1), object(15)
memory usage: 34.4+ MB

In [25]:
# !pip install pyarrow fastparquet pyreadr

In [27]:
boston.to_pickle("from_py.pkl")
boston.to_csv("from_py.csv",index=False)
boston.to_parquet("from_py.parquet")
boston.to_feather("from_py.feather")

In [26]:
import pyreadr
pyreadr.write_rds("from_py.rds", boston)

In [28]:
feather_from_r=pd.read_feather('from_r.feather')
feather_from_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213603 entries, 0 to 213602
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   OBJECTID             213603 non-null  int32
 1   Incident.Number      213603 non-null  object
 2   Crime                213603 non-null  object
 3   Offense.Code         213603 non-null  object
 4   Offense.Description  213603 non-null  object
 5   Block.Address        213603 non-null  object
 6   City                 213603 non-null  object
 7   Zip.Code             213603 non-null  object
 8   BPD.District         213603 non-null  object
 9   Premise.Description  213603 non-null  object
 10  Weapon.Description   213603 non-null  object
 11  Crime.Part           213603 non-null  object
 12  Crime.Category       213603 non-null  object
 13  Report.Date          213523 non-null  datetime64[us, UTC]
 14  From.Date            213603 non-null  object
 15  To.Date              213603 non-null  object
 16  Hour.of.Day          213599 non-null  float64
 17  Day.of.Week          213599 non-null  float64
 18  Year                 213599 non-null  float64
 19  Quarter              213599 non-null  category
 20  Month                213599 non-null  float64
 21  Neighborhood         213603 non-null  object
dtypes: category(1), datetime64[us, UTC](1), float64(4), int32(1), object(15)
memory usage: 33.6+ MB

In [29]:
feather_from_r.Quarter

0         4
1         4
2         4
3         4
4         4
         ..
213598    4
213599    3
213600    4
213601    4
213602    4
Name: Quarter, Length: 213603, dtype: category
Categories (4, object): ['1' < '2' < '3' < '4']

In [30]:
import pyreadr

result = pyreadr.read_r('from_r.rds')
feather_from_r = result[None] # extract the pandas data frame for the only object available
feather_from_r.info()

/Users/JoseManuel/opt/anaconda3/envs/workshopRPy/lib/python3.12/site-packages/pandas/core/tools/datetimes.py:557: RuntimeWarning: invalid value encountered in multiply
  fvalues = (arg * mult).astype("f8", copy=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213603 entries, 0 to 213602
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   OBJECTID             213603 non-null  int32
 1   Incident.Number      213603 non-null  object
 2   Crime                213603 non-null  object
 3   Offense.Code         213603 non-null  object
 4   Offense.Description  213603 non-null  object
 5   Block.Address        213603 non-null  object
 6   City                 213603 non-null  object
 7   Zip.Code             213603 non-null  object
 8   BPD.District         213603 non-null  object
 9   Premise.Description  213603 non-null  object
 10  Weapon.Description   213603 non-null  object
 11  Crime.Part           213603 non-null  object
 12  Crime.Category       213603 non-null  object
 13  Report.Date          213523 non-null  datetime64[ns]
 14  From.Date            213603 non-null  object
 15  To.Date              213603 non-null  object
 16  Hour.of.Day          213599 non-null  object
 17  Day.of.Week          213599 non-null  object
 18  Year                 213599 non-null  object
 19  Quarter              213599 non-null  category
 20  Month                213599 non-null  object
 21  Neighborhood         213603 non-null  object
dtypes: category(1), datetime64[ns](1), int32(1), object(19)
memory usage: 33.6+ MB

In [33]:
feather_from_r.Report.Date

0        2022-11-10 09:44:01
1        2022-11-10 16:17:15
2        2022-11-10 18:16:47
3        2022-11-10 18:51:38
4        2022-11-10 19:14:28
                 ...
213598   2024-11-06 23:15:51
213599   2024-09-18 16:30:15
213600   2024-11-05 04:35:33
213601   2024-11-08 02:31:40
213602   2024-11-01 00:25:54
Name: Report.Date, Length: 213603, dtype: datetime64[ns]