In [91]:
LinkData="https://github.com/DACSS-PreProcessing/DFops_exporting/raw/refs/heads/main/originalData/Boston_Incidents.csv"

import pandas as pd
boston=pd.read_csv(LinkData)

/var/folders/2n/bkfhfqq16r78g3hf7pdj56y40000gn/T/ipykernel_48889/2401877782.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  boston=pd.read_csv(LinkData)

In [92]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213603 entries, 0 to 213602
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   OBJECTID             213603 non-null  int64
 1   Incident Number      213603 non-null  object
 2   Crime                213603 non-null  object
 3   Offense Code         213603 non-null  object
 4   Offense Description  213603 non-null  object
 5   Block Address        182883 non-null  object
 6   City                 182892 non-null  object
 7   Zip Code             182892 non-null  object
 8   BPD District         211775 non-null  object
 9   Premise Description  182892 non-null  object
 10  Weapon Description   13332 non-null   object
 11  Crime Part           208970 non-null  object
 12  Crime Category       32631 non-null   object
 13  Report Date          213523 non-null  object
 14  From Date            212080 non-null  object
 15  To Date              72081 non-null   object
 16  Hour of Day          213599 non-null  float64
 17  Day of Week          213599 non-null  float64
 18  Year                 213599 non-null  float64
 19  Quarter              213599 non-null  float64
 20  Month                213599 non-null  float64
 21  Neighborhood         209945 non-null  object
dtypes: float64(5), int64(1), object(16)
memory usage: 35.9+ MB

In [93]:
boston.columns=boston.columns.str.replace(r'\s','_',regex=True)

In [94]:
boston.Incident_Number[boston.Incident_Number.str.contains(r'\D',regex=True,na=False)]

2452       I22209583
7754      I192015628
10807      I22208859
11458      I23200601
13691      I23008263
14259      I22209560
18066      I22208879
19926      I22209111
20115      I22098672
24865      I23036983
26561      I23203773
28417     I182075730
28987      I23200169
29208      I32008884
31747      I23201383
33783      I23014617
33962      I23017871
37144      S97926080
37893      I23201796
50308      I23204095
55939      I32045952
64327      I32054432
74658      S11935881
80144      I23207182
83373      S50486765
92714      I23208464
93364      I23208394
95105      I23207232
95853      I23208464
99617      I23190006
100189     I23209103
103152     I32094729
103870     I23205249
105923     I23096042
111277     I23210027
111278     I23210027
111279     I23210027
111603     S53786787
111970     I23210027
116454     I24200032
116888    I242001011
117605     I24201866
117642     I24200174
137816     TEST09876
141650    I242023342
159174     I24204040
164655    I242043408
172615     I24205680
172645     I24205673
174059     I24205772
174060     I24205772
187823     I42072311
188299     I42072773
189454     S42866622
191308     I24207548
Name: Incident_Number, dtype: object

In [95]:
boston['Incident_Number']=boston.Incident_Number.astype(str)

In [96]:
boston.Report_Date.head()

0    11/10/2022 9:44:01 AM
1    11/10/2022 4:17:15 PM
2    11/10/2022 6:16:47 PM
3    11/10/2022 6:51:38 PM
4    11/10/2022 7:14:28 PM
Name: Report_Date, dtype: object

In [113]:
boston["Report_Date"]=pd.to_datetime(boston.Report_Date,format='%m/%d/%Y %H:%M:%S %p')

In [98]:
boston[boston.Quarter.isnull()]

,OBJECTID,Incident_Number,Crime,Offense_Code,Offense_Description,Block_Address,City,Zip_Code,BPD_District,Premise_Description,...,Crime_Category,Report_Date,From_Date,To_Date,Hour_of_Day,Day_of_Week,Year,Quarter,Month,Neighborhood
77578,599450,232070628,MISSING PERSON,3501,MISSING PERSON,0 BLOCK LIBERTY SQ,BOSTON,02109,A1,BAR/ NIGHTCLUB,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Downtown
78479,606551,232071337,FIRE REPORT,3108,FIRE REPORT,0 BLOCK HOLIDAY ST,DORCHESTER,02122,C11,RESIDENCE/ HOME,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dorchester
99619,873809,232093336,PROPERTY - ACCIDENTAL DAMAGE,3106,PROPERTY - ACCIDENTAL DAMAGE,0 BLOCK NEW SUDBURY ST,BOSTON,02114,A1,HIGHWAY/ ROAD/ ALLEY/ STREET/ SIDEWALK,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Downtown
163326,1430544,242046448,HARASSMENT/ CRIMINAL HARASSMENT,2670,HARASSMENT/ CRIMINAL HARASSMENT,0 BLOCK GIBSON ST,DORCHESTER,02122,C11,GOVERNMENT/ PUBLIC BUILDING,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dorchester

In [99]:
boston.Quarter[~boston.Quarter.isnull()].head()

0    4.0
1    4.0
2    4.0
3    4.0
4    4.0
Name: Quarter, dtype: float64

In [100]:
boston['Quarter']=boston.Quarter.astype('Int32').astype(str)

In [101]:
set(boston['Quarter'])

{'1', '2', '3', '4', '<NA>'}

In [102]:

from pandas.api.types import CategoricalDtype



cat_type = CategoricalDtype(categories=['1','2','3','4'], ordered=True)

boston["Quarter"]= boston.Quarter.astype(cat_type)
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213603 entries, 0 to 213602
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   OBJECTID             213603 non-null  int64
 1   Incident_Number      213603 non-null  object
 2   Crime                213603 non-null  object
 3   Offense_Code         213603 non-null  object
 4   Offense_Description  213603 non-null  object
 5   Block_Address        182883 non-null  object
 6   City                 182892 non-null  object
 7   Zip_Code             182892 non-null  object
 8   BPD_District         211775 non-null  object
 9   Premise_Description  182892 non-null  object
 10  Weapon_Description   13332 non-null   object
 11  Crime_Part           208970 non-null  object
 12  Crime_Category       32631 non-null   object
 13  Report_Date          213523 non-null  datetime64[ns]
 14  From_Date            212080 non-null  object
 15  To_Date              72081 non-null   object
 16  Hour_of_Day          213599 non-null  float64
 17  Day_of_Week          213599 non-null  float64
 18  Year                 213599 non-null  float64
 19  Quarter              213599 non-null  category
 20  Month                213599 non-null  float64
 21  Neighborhood         209945 non-null  object
dtypes: category(1), datetime64[ns](1), float64(4), int64(1), object(15)
memory usage: 34.4+ MB

In [103]:
boston.Quarter

0         4
1         4
2         4
3         4
4         4
         ..
213598    4
213599    3
213600    4
213601    4
213602    4
Name: Quarter, Length: 213603, dtype: category
Categories (4, object): ['1' < '2' < '3' < '4']

In [83]:
boston.to_pickle("boston_py.pkl")
boston.to_csv("bostonp_py.csv",index=False)
boston.to_parquet("boston_py.parquet")

In [84]:
import pyreadr
pyreadr.write_rds("boston_py1.rds", boston)

In [85]:
# for R
# import os

# os.environ['R_HOME'] = '/Library/Frameworks/R.framework/Resources'

from rpy2.robjects import pandas2ri
pandas2ri.activate()

from rpy2.robjects.packages import importr

base = importr('base')
base.saveRDS(boston,file='boston_py2.rds')

/Users/JoseManuel/opt/anaconda3/envs/ASIES/lib/python3.11/site-packages/rpy2/robjects/pandas2ri.py:65: UserWarning: Error while trying to convert the column "Weapon Description". Fall back to string conversion. The error is: Series can only be of one type, or None (and here we have <class 'float'> and <class 'str'>). If happening with a pandas DataFrame the method infer_objects() will normalize data types before conversion.
  warnings.warn('Error while trying to convert '
/Users/JoseManuel/opt/anaconda3/envs/ASIES/lib/python3.11/site-packages/rpy2/robjects/pandas2ri.py:65: UserWarning: Error while trying to convert the column "Crime Category". Fall back to string conversion. The error is: Series can only be of one type, or None (and here we have <class 'float'> and <class 'str'>). If happening with a pandas DataFrame the method infer_objects() will normalize data types before conversion.
  warnings.warn('Error while trying to convert '
/Users/JoseManuel/opt/anaconda3/envs/ASIES/lib/python3.11/site-packages/rpy2/robjects/pandas2ri.py:65: UserWarning: Error while trying to convert the column "To Date". Fall back to string conversion. The error is: Series can only be of one type, or None (and here we have <class 'float'> and <class 'str'>). If happening with a pandas DataFrame the method infer_objects() will normalize data types before conversion.
  warnings.warn('Error while trying to convert '

<rpy2.rinterface_lib.sexp.NULLType object at 0x153587d90> [0]

In [110]:
set(boston[boston.Weapon_Description.isnull()].Weapon_Description)

{None}

In [109]:
import numpy as np
boston.replace({np.nan: None},inplace=True)

In [114]:
base.saveRDS(boston,file='boston_py2.rds')

/Users/JoseManuel/opt/anaconda3/envs/ASIES/lib/python3.11/site-packages/rpy2/robjects/pandas2ri.py:65: UserWarning: Error while trying to convert the column "Hour_of_Day". Fall back to string conversion. The error is: <class 'float'>
  warnings.warn('Error while trying to convert '
/Users/JoseManuel/opt/anaconda3/envs/ASIES/lib/python3.11/site-packages/rpy2/robjects/pandas2ri.py:65: UserWarning: Error while trying to convert the column "Day_of_Week". Fall back to string conversion. The error is: <class 'float'>
  warnings.warn('Error while trying to convert '
/Users/JoseManuel/opt/anaconda3/envs/ASIES/lib/python3.11/site-packages/rpy2/robjects/pandas2ri.py:65: UserWarning: Error while trying to convert the column "Year". Fall back to string conversion. The error is: <class 'float'>
  warnings.warn('Error while trying to convert '
/Users/JoseManuel/opt/anaconda3/envs/ASIES/lib/python3.11/site-packages/rpy2/robjects/pandas2ri.py:65: UserWarning: Error while trying to convert the column "Month". Fall back to string conversion. The error is: <class 'float'>
  warnings.warn('Error while trying to convert '

<rpy2.rinterface_lib.sexp.NULLType object at 0x153587d90> [0]

In [115]:
boston_pq_r=pd.read_parquet('boston_r.parquet')

In [116]:
boston_pq_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213603 entries, 0 to 213602
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   OBJECTID             213603 non-null  int32
 1   Incident.Number      213603 non-null  object
 2   Crime                213603 non-null  object
 3   Offense.Code         213603 non-null  object
 4   Offense.Description  213603 non-null  object
 5   Block.Address        213603 non-null  object
 6   City                 213603 non-null  object
 7   Zip.Code             213603 non-null  object
 8   BPD.District         213603 non-null  object
 9   Premise.Description  213603 non-null  object
 10  Weapon.Description   213603 non-null  object
 11  Crime.Part           213603 non-null  object
 12  Crime.Category       213603 non-null  object
 13  Report.Date          213523 non-null  datetime64[us, UTC]
 14  From.Date            213603 non-null  object
 15  To.Date              213603 non-null  object
 16  Hour.of.Day          213599 non-null  float64
 17  Day.of.Week          213599 non-null  float64
 18  Year                 213599 non-null  float64
 19  Quarter              213599 non-null  category
 20  Month                213599 non-null  float64
 21  Neighborhood         213603 non-null  object
dtypes: category(1), datetime64[us, UTC](1), float64(4), int32(1), object(15)
memory usage: 33.6+ MB

In [117]:
boston_pq_r.Quarter

0         4
1         4
2         4
3         4
4         4
         ..
213598    4
213599    3
213600    4
213601    4
213602    4
Name: Quarter, Length: 213603, dtype: category
Categories (4, object): ['1' < '2' < '3' < '4']

In [119]:
boston_fth_r=pd.read_feather('boston_r.feather')
boston_fth_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213603 entries, 0 to 213602
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   OBJECTID             213603 non-null  int32
 1   Incident.Number      213603 non-null  object
 2   Crime                213603 non-null  object
 3   Offense.Code         213603 non-null  object
 4   Offense.Description  213603 non-null  object
 5   Block.Address        213603 non-null  object
 6   City                 213603 non-null  object
 7   Zip.Code             213603 non-null  object
 8   BPD.District         213603 non-null  object
 9   Premise.Description  213603 non-null  object
 10  Weapon.Description   213603 non-null  object
 11  Crime.Part           213603 non-null  object
 12  Crime.Category       213603 non-null  object
 13  Report.Date          213523 non-null  datetime64[us, UTC]
 14  From.Date            213603 non-null  object
 15  To.Date              213603 non-null  object
 16  Hour.of.Day          213599 non-null  float64
 17  Day.of.Week          213599 non-null  float64
 18  Year                 213599 non-null  float64
 19  Quarter              213599 non-null  category
 20  Month                213599 non-null  float64
 21  Neighborhood         213603 non-null  object
dtypes: category(1), datetime64[us, UTC](1), float64(4), int32(1), object(15)
memory usage: 33.6+ MB

In [120]:
boston_fth_r.Quarter

0         4
1         4
2         4
3         4
4         4
         ..
213598    4
213599    3
213600    4
213601    4
213602    4
Name: Quarter, Length: 213603, dtype: category
Categories (4, object): ['1' < '2' < '3' < '4']

In [127]:
import pyreadr

result = pyreadr.read_r('boston_r.Rds')

# done! let's see what we got
print(result.keys()) # let's check what objects we got: there is only None
df1 = result[None] # extract the pandas data frame for the only object available
df1

odict_keys([None])

,OBJECTID,Incident.Number,Crime,Offense.Code,Offense.Description,Block.Address,City,Zip.Code,BPD.District,Premise.Description,...,Crime.Category,Report.Date,From.Date,To.Date,Hour.of.Day,Day.of.Week,Year,Quarter,Month,Neighborhood
0,48865,222087059,Investigate Person,3115,INVESTIGATE PERSON,TYLER ST & WASHINGTON ST,HYDE PARK,02136,E18,HIGHWAY/ ROAD/ ALLEY/ STREET/ SIDEWALK,...,,2022-11-10 09:44:01,11/10/2022 9:29:00 AM,,4,5,2022,4,11,Hyde Park
1,48916,222087125,Drug Violation,1810,DRUGS - POSSESSION/ SALE/ MANUFACTURING/ USE,700 BLOCK ALBANY ST,BOSTON,02118,D4,HIGHWAY/ ROAD/ ALLEY/ STREET/ SIDEWALK,...,,2022-11-10 16:17:15,11/10/2022 3:41:00 PM,,10,5,2022,4,11,South End
2,48952,222087174,Property Lost,3201,PROPERTY - LOST/ MISSING,500 BLOCK BOYLSTON ST,BOSTON,02116,D4,HIGHWAY/ ROAD/ ALLEY/ STREET/ SIDEWALK,...,,2022-11-10 18:16:47,10/15/2022 9:00:00 PM,10/15/2022 9:00:00 PM,16,7,2022,4,10,Back Bay
3,48964,222087181,Investigate Person,3115,INVESTIGATE PERSON,100 BLOCK PETERBOROUGH ST,BOSTON,02215,D4,APARTMENT BUILDING,...,,2022-11-10 18:51:38,11/10/2022 6:06:00 PM,,13,5,2022,4,11,Fenway
4,48991,222087190,Investigate Person,3115,INVESTIGATE PERSON,300 BLOCK BLUE LEDGE DR,ROSLINDALE,02131,E5,RESIDENCE/ HOME,...,,2022-11-10 19:14:28,11/10/2022 5:51:00 PM,,12,5,2022,4,11,Roslindale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213598,1850140,242094435,PROPERTY FOUND,3207,PROPERTY - FOUND,0 BLOCK CHARLES ST,BOSTON,02114,A1,OTHER/UNKNOWN,...,,2024-11-06 23:15:51,11/6/2024 9:28:00 PM,,16,4,2024,4,11,Beacon Hill
213599,1850141,242079721,AUTO THEFT,724,AUTO THEFT,1100 BLOCK BOYLSTON ST,BOSTON,02215,D4,HIGHWAY/ ROAD/ ALLEY/ STREET/ SIDEWALK,...,Property,2024-09-18 16:30:15,9/18/2024 3:42:00 PM,9/18/2024 3:59:00 PM,11,4,2024,3,9,Fenway
213600,1850142,242093933,INVESTIGATE PERSON,3115,INVESTIGATE PERSON,0 BLOCK BROOKDALE ST,ROSLINDALE,02131,E5,RESIDENCE/ HOME,...,,2024-11-05 04:35:33,11/5/2024 4:06:00 AM,11/5/2024 4:30:00 AM,23,2,2024,4,11,Roslindale
213601,1850143,242094830,MEDICAL ASSISTANCE,1831,SICK ASSIST,600 BLOCK RIVER ST,MATTAPAN,02126,E18,APARTMENT BUILDING,...,,2024-11-08 02:31:40,11/8/2024 1:34:00 AM,,20,5,2024,4,11,Mattapan
213602,1850144,242092735,INVESTIGATE PERSON,3115,INVESTIGATE PERSON,,,,E18,,...,,2024-11-01 00:25:54,10/31/2024 11:13:00 PM,,19,5,2024,4,10,Hyde Park

In [129]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213603 entries, 0 to 213602
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   OBJECTID             213603 non-null  int32
 1   Incident.Number      213603 non-null  object
 2   Crime                213603 non-null  object
 3   Offense.Code         213603 non-null  object
 4   Offense.Description  213603 non-null  object
 5   Block.Address        213603 non-null  object
 6   City                 213603 non-null  object
 7   Zip.Code             213603 non-null  object
 8   BPD.District         213603 non-null  object
 9   Premise.Description  213603 non-null  object
 10  Weapon.Description   213603 non-null  object
 11  Crime.Part           213603 non-null  object
 12  Crime.Category       213603 non-null  object
 13  Report.Date          213523 non-null  datetime64[ns]
 14  From.Date            213603 non-null  object
 15  To.Date              213603 non-null  object
 16  Hour.of.Day          213599 non-null  object
 17  Day.of.Week          213599 non-null  object
 18  Year                 213599 non-null  object
 19  Quarter              213599 non-null  category
 20  Month                213599 non-null  object
 21  Neighborhood         213603 non-null  object
dtypes: category(1), datetime64[ns](1), int32(1), object(19)
memory usage: 33.6+ MB

In [130]:
df1.Quarter

0         4
1         4
2         4
3         4
4         4
         ..
213598    4
213599    3
213600    4
213601    4
213602    4
Name: Quarter, Length: 213603, dtype: category
Categories (4, object): ['1', '2', '3', '4']

In [136]:
# boston_rds_r=base.readRDS('boston_r.rds')

import rpy2.robjects as ro

with (ro.default_converter + pandas2ri.converter).context():
  pd_from_r_df = ro.conversion.get_conversion().rpy2py(boston_rds_r)

pd_from_r_df

,OBJECTID,Incident.Number,Crime,Offense.Code,Offense.Description,Block.Address,City,Zip.Code,BPD.District,Premise.Description,...,Crime.Category,Report.Date,From.Date,To.Date,Hour.of.Day,Day.of.Week,Year,Quarter,Month,Neighborhood
1,48865,222087059,Investigate Person,3115,INVESTIGATE PERSON,TYLER ST & WASHINGTON ST,HYDE PARK,02136,E18,HIGHWAY/ ROAD/ ALLEY/ STREET/ SIDEWALK,...,,2022-11-10 09:44:01+00:00,11/10/2022 9:29:00 AM,,4,5,2022,4,11,Hyde Park
2,48916,222087125,Drug Violation,1810,DRUGS - POSSESSION/ SALE/ MANUFACTURING/ USE,700 BLOCK ALBANY ST,BOSTON,02118,D4,HIGHWAY/ ROAD/ ALLEY/ STREET/ SIDEWALK,...,,2022-11-10 16:17:15+00:00,11/10/2022 3:41:00 PM,,10,5,2022,4,11,South End
3,48952,222087174,Property Lost,3201,PROPERTY - LOST/ MISSING,500 BLOCK BOYLSTON ST,BOSTON,02116,D4,HIGHWAY/ ROAD/ ALLEY/ STREET/ SIDEWALK,...,,2022-11-10 18:16:47+00:00,10/15/2022 9:00:00 PM,10/15/2022 9:00:00 PM,16,7,2022,4,10,Back Bay
4,48964,222087181,Investigate Person,3115,INVESTIGATE PERSON,100 BLOCK PETERBOROUGH ST,BOSTON,02215,D4,APARTMENT BUILDING,...,,2022-11-10 18:51:38+00:00,11/10/2022 6:06:00 PM,,13,5,2022,4,11,Fenway
5,48991,222087190,Investigate Person,3115,INVESTIGATE PERSON,300 BLOCK BLUE LEDGE DR,ROSLINDALE,02131,E5,RESIDENCE/ HOME,...,,2022-11-10 19:14:28+00:00,11/10/2022 5:51:00 PM,,12,5,2022,4,11,Roslindale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213599,1850140,242094435,PROPERTY FOUND,3207,PROPERTY - FOUND,0 BLOCK CHARLES ST,BOSTON,02114,A1,OTHER/UNKNOWN,...,,2024-11-06 23:15:51+00:00,11/6/2024 9:28:00 PM,,16,4,2024,4,11,Beacon Hill
213600,1850141,242079721,AUTO THEFT,724,AUTO THEFT,1100 BLOCK BOYLSTON ST,BOSTON,02215,D4,HIGHWAY/ ROAD/ ALLEY/ STREET/ SIDEWALK,...,Property,2024-09-18 16:30:15+00:00,9/18/2024 3:42:00 PM,9/18/2024 3:59:00 PM,11,4,2024,3,9,Fenway
213601,1850142,242093933,INVESTIGATE PERSON,3115,INVESTIGATE PERSON,0 BLOCK BROOKDALE ST,ROSLINDALE,02131,E5,RESIDENCE/ HOME,...,,2024-11-05 04:35:33+00:00,11/5/2024 4:06:00 AM,11/5/2024 4:30:00 AM,23,2,2024,4,11,Roslindale
213602,1850143,242094830,MEDICAL ASSISTANCE,1831,SICK ASSIST,600 BLOCK RIVER ST,MATTAPAN,02126,E18,APARTMENT BUILDING,...,,2024-11-08 02:31:40+00:00,11/8/2024 1:34:00 AM,,20,5,2024,4,11,Mattapan
213603,1850144,242092735,INVESTIGATE PERSON,3115,INVESTIGATE PERSON,,,,E18,,...,,2024-11-01 00:25:54+00:00,10/31/2024 11:13:00 PM,,19,5,2024,4,10,Hyde Park

In [137]:
pd_from_r_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 213603 entries, 1 to 213603
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   OBJECTID             213603 non-null  int32
 1   Incident.Number      213603 non-null  object
 2   Crime                213603 non-null  object
 3   Offense.Code         213603 non-null  object
 4   Offense.Description  213603 non-null  object
 5   Block.Address        213603 non-null  object
 6   City                 213603 non-null  object
 7   Zip.Code             213603 non-null  object
 8   BPD.District         213603 non-null  object
 9   Premise.Description  213603 non-null  object
 10  Weapon.Description   213603 non-null  object
 11  Crime.Part           213603 non-null  object
 12  Crime.Category       213603 non-null  object
 13  Report.Date          213523 non-null  datetime64[ns, UTC]
 14  From.Date            213603 non-null  object
 15  To.Date              213603 non-null  object
 16  Hour.of.Day          213603 non-null  int32
 17  Day.of.Week          213603 non-null  int32
 18  Year                 213603 non-null  int32
 19  Quarter              213599 non-null  category
 20  Month                213603 non-null  int32
 21  Neighborhood         213603 non-null  object
dtypes: category(1), datetime64[ns, UTC](1), int32(5), object(15)
memory usage: 32.0+ MB

In [138]:
pd_from_r_df.Quarter

1         4
2         4
3         4
4         4
5         4
         ..
213599    4
213600    3
213601    4
213602    4
213603    4
Name: Quarter, Length: 213603, dtype: category
Categories (4, object): ['1' < '2' < '3' < '4']